" In order to use A-n (Generate) in file explorer, we need to change one JetBrains keymap:
" - New... -> Alt + n

" Map leader to space
let mapleader=" "

" Plugins
set NERDTree
set highlightedyank
set matchit
set surround

" Common settings
set showmode
set showcmd
set scrolloff=8
set ignorecase
set smartcase
set incsearch
set nohlsearch
set number
set relativenumber

" Idea specific settings
set ideastatusicon=gray

" Remaps
inoremap <C-s> <Esc>:w<CR>
nnoremap <C-s> :w<CR>
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzz
nnoremap N Nzz
xnoremap <leader>p "_dP
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y
nnoremap <leader>d "_d
vnoremap <leader>d "_d

" Actions
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nmap <leader>ca <action>(ShowIntentionActions)
nmap <leader>cr <action>(Refactorings.QuickListPopupAction)
nmap <A-n> <action>(Generate)
nmap H <action>(PreviousTab)
nmap L <action>(NextTab)